.user-png{
    width:45px;
    height: 45px;
}
.navbar-brand{
    color:blueviolet
}
.btn-nav{
    background-color:blueviolet;
    border-radius: 10px;
    color:white !important;
    font-weight: bold;
}